
# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
.env
*.env
ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
